<template name="stylistPage">
    <div class="profile-top">
	    <div class="left-top">
			<img class="profile-image" align="center" src="/{{ this.imageLink}} "/>
		</div>
		<div class="right-top">
			<div class="full-name gris">{{ this.fullName }}</div>
			<div class="bio">{{ this.bio }}</div>
			<input class="mainbutton btn request-stylist" value="Request {{ this.fullName }} as your stylist" style="height:48px; width: 400px;">
		</div>
	</div>
	<div class="profile-define">
		<h2 class="profile-question rouge">How would you define your style?</h2>
		<p class="profile-answer gris">Modern chic, unpretentious but dressy. I am nostalgic for the 20s.</p>
	</div>
	<h2 class="profile-question rouge">Pick a few photos that define your style.</h2>
	<div class="profile-photos">
		<img class="inspiration-image" src="/inspiration1.png"/>
		<img class="inspiration-image" src="/inspiration2.png "/>
		<img class="inspiration-image" src="/inspiration3.png"/>
	</div>
	<div class="profile-define">
		<h2 class="profile-question rouge">What are your favorite brands?</h2>
		<p class="profile-answer gris">Dior, Yves Saint Laurent, Chanel, Prada, Sandro, The Kooples</p>
	</div>
</template>