.profile-image {
	width: 140px;
	border-radius: 500px;
}

.profile-top {
	width: 600px;
	margin: 0 auto;
	margin-top: 20px;
}

.left-top, .right-top {
	display: inline-block;
	vertical-align: middle;
}

.left-top {
	margin-right: 15px;
}

.full-name {
    font-size: 42px;
}

.bio {
	font-size: 26px;
}

.inspiration-image {
	width: 260px;
}