.profile-image {
	width: 140px;
	border-radius: 500px;
}


.request-stylist {
	margin-top: 20px;
}

#request-form {
	width: 1200px;
	margin-top: 30px;
}

.inspiration-image {
	width: 260px;
}

.profile-photos {
	width: 100%;
	margin-top: 30px;
	text-align: center;
}

.profile-question {
	text-align: left;
	font-size: 20px;
	padding-left: 140px;
}

.profile-answer {
	text-align: center;
	margin-bottom: 20px;
	font-size: 26px;
}