<template name="landingPage">
  <div class="landing-container">
    <h2 class="section-header centertext rouge DIN">Request a specific stylist</h2>

    <h4 class="gris centertext section-subheader">See someone whose style you like? Request them as your personal stylist.</h4>

    <div class="stylists">
      {{#each stylists}}
        {{> stylistItem}}
      {{/each}}
    </div>

    <h2 class="section-header centertext DIN gris" style="margin-bottom: 5px !important;">Or</h2>

    <h2 class="section-header centertext rouge DIN" style="margin-top: 5px !important;">Request a free general consultation</h2>

      <div class="form-container center-block">
          <form id="user-form" action="action">
            <input id="user-name" class="fillin medium" placeholder="Name" required>
            <input id="user-cell" class="phone_number fillin medium" placeholder="Cell #" required>
            <input id="user-email" type="email" class="fillin big" placeholder="Email" required>
            <input type="submit" class="mainbutton btn" value="Sign me up" style="height:64px;">
          </form>
          <div id="thanks" style="display:none;">
            <p>Thank you! Your stylist will soon be in touch.</p>
          </div>
        </div>

        <div class="3steps-container">
          <h2 style="font-size:34px;padding: 13px 0;" class="centertext section-header rouge DIN">Our 3 steps to style</h2>
          <div class="list-container">
              <ol class="simple-list">
                <li><span class="bold">Consultation: </span>Super connects you to a personal stylist who gets to know you through a quick call and questionnaire. You set an appointment to meet and shop in person.</li>
                <li><span class="bold">Your stylist does the work: </span> Before your meeting, your stylist goes around and preselects items based on your objective.</li>
                <li><span class="bold">Shopping day: </span> You meet and shop together helped by what your stylist has already spotted for you. Your stylist is there while you try things on, and you get an honest opinion.</li>
              </ol>
          </div>
        </div>

                <div class="3steps-container" style="margin-bottom:50px">
          <h2 style="font-size:34px;padding: 13px 0;" class="centertext rouge section-header DIN">About</h2>
          <div class="list-container">
          <p style="font-size:17px">Super was started by two Frenchmen who share a passion for style and quality of life.<br>
<span class="bold underline"><a href="mailto:contactteamsuper@gmail.com" target="blank">Contact us here</a></span> for more details.</p>
</div>
        </div>




  </div>

</template>