<template name="landingPage">
  <div class="landing-container">
      <p id="super">
        super
      </p>

      <p id="maintagline">
        Your personal concierge for an epic life.
      </p>

      <div id="introduction">
        <p>From planning your evening and making reservations to giving you feedback on your clothes, there’s a lot your concierge can do for you.</p>

        <p>He can’t do everything, but he’ll be working very hard to help you live the first class life experiences you deserve.</p>
      </div>

      <div id="try-it-out">
        <a id="try" href="{{pathFor 'complete'}}">Try it out</a>
      </div>

      <!-- <div id="form-container center-block">
          <form id="user-form" action="action">
            <input id="user-name" class="fillin medium" placeholder="your name" required>
            <input id="user-cell" class="phone_number fillin medium" placeholder="phone" required>
            <input id="user-email" type="email" class="fillin big" placeholder="email" required>
            <input type="submit" id="done" value="done">
          </form>
          <div id="thanks" style="display:none;">
            <p>Thank you. Your personal stylist will soon be in touch.</p>
          </div>
      </div> -->
  </div>

</template>