<template name="landingPage">
  <div class="landing-container">
      <p class="super">
        super
      </p>

      <p class="maintagline">
        Your personal lifestyle advisor
      </p>

      <div class="introduction">
     <p>From planning your evening to giving you feedback on your clothes or anything style-related, there’s a lot your advisor can do for you.</p>
     
      <p>Think of him as your secret ally working very hard to help you live the first class life experiences you deserve.</p> 
       </div>
 
      <!-- <div class="rules">
        <div class="left">
          Your advisor 
          <ul>
            <li>Recommends restaurants and makes reservations</li>
            <li>Suggests clothes, gives you feedback</li>
            <li></li>
          </ul>
        </div>

        <div class="right">
          Your advisor does not
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div> -->

      <div id="try-it-out">
        <a id="try" href="{{pathFor 'complete'}}">Learn More</a>
      </div>

  </div>

</template>