<template name="complete">

	<p class="super">
		tiger
	</p>

	
    <div class="meet">Meet your concierge.</div>

	<div class="profile-top">
	    <div class="left-top">
			<img class="profile-image profile" src="Edward.jpg"/>
		</div>
		<div class="right-top">
			<div class="full-name">Edward Lando</div>
			<div class="bio">UPenn/Wharton grad, originally from Paris, loves good food, wine, clothes, experiences. Bon vivant and wants to share it with you.</div>
		</div>
	</div>
	

	<div class="main">
	   <p>Unlimited texts and calls with Edward.</p>
	   <p>$50/week. Cancel anytime.</p>
	   <p>Join the waitlist.</p>

       <!--  <p>Sign up to start chatting instantly with Edward.</p>
        <p>$50/week. Cancel anytime.</p> -->
    </div>
   <!--  <p class="oneclick">
		You’re one click away from a major upgrade.  
	</p>
 -->

	<div id="form-container center-block">
	    <form id="user-form" action="action">
		    <div class="form-row">
		    	<input id="first-name" placeholder="First Name" >
		    	<input id="last-name" placeholder="Last Name">
		    </div>
		    <div class="form-row">
		        <input id="referrer-name" placeholder="Who Referred You? (optional)">
		    	<input id="mobile-number" class="phone_number" placeholder="Mobile Number">
		    </div>
		    <div class="form-row">
			    <input id="email" placeholder="Email" >
		    </div>

		    <!-- Stripe -->
		    <!-- <form action="" method="POST" id="payment-form"> -->
            <!-- <input type="text" size="2" data-stripe="exp-month" placeholder="MM"/> -->
            <span class="payment-errors"></span>
            <div class="form-row">
               <input id="card-number" type="text" data-stripe="number" placeholder="Card Number"/>
               <input id="cvc" type="text" data-stripe="cvc" placeholder="CVC"/>
            </div>

            <div class="form-row">
                <input type="text" id="exp-month" data-stripe="exp-month" placeholder="MM"/>
                <input type="text" id="exp-year" data-stripe="exp-year" placeholder="YYYY"/>
            </div>

		    <!-- End Stripe -->
            <div class="form-row">
    	        <input id="postal" type="form-row-input email" class="" placeholder="Postal Code" required>
            </div>

            <div class="form-row" id="agree">
	            By Clicking “Sign Up” below, you are agreeing to the Super <br/> Terms and Conditions and Privacy Policy
            </div>

	        <button type="submit" id="signup">Sign Up</button>
        </form>
	</div>
</template>