<head>
  <title>super</title>
  <meta property="og:title"/>
  <meta property="og:url" content="http://www.trysuper.com"/>
  <meta property="og:site_name" content="super"/>
  <meta property="og:image:type" content="mecstyle2.png">
  <meta property="og:description" content="Your personal stylist."/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>
<body>

    {{>landingpage}}

</body>


