<template name="landingpage">

  <div class="landing-container">
      <span class="super rouge">
        super
      </span>

      <span class="maintagline gris DIN">
        EVERYONE'S PRIVATE STYLIST.
      </span>
      
      <div class="stylist">
        <p>Have exceptional taste?</p>
        <input type="submit" class="mainbutton btn" value="Become a stylist">
      </div>

      <div class="form-container center-block">

          <form id="user-form" action="action">
               <div class="form-wrapper">
                  <input id="user-name" class="fillin medium" placeholder="Name" required>
                  <input id="user-cell" class="phone_number fillin medium" placeholder="Cell #" required>
                  <input id="user-email" type="email" class="fillin big" placeholder="Email" required>
                  <input type="submit" class="mainbutton btn" value="Sign me up for my free 5 minute style consultation :)">
            </div>
          </form>
          <div id="thanks" style="display:none;">
            <p>Thank you! Your stylist will soon be in touch.</p>
          </div>
        </div>

        <div class="3steps-container">
          <h2 style="font-size:34px;padding: 13px 0;" class="centertext rouge DIN">OUR 3 STEPS TO STYLE</h2>
          <div class="list-container">
              <ol class="simple-list">
                <li><span class="bold">Consultation: </span>Super connects you to a personal stylist who gets to know you through a quick call and questionnaire. You set an appointment to meet and shop in person.</li>
                <li><span class="bold">Your stylist does the work: </span> Before your meeting, your stylist goes around and preselects items based on your objective.</li>
                <li><span class="bold">Shopping day: </span> You meet and shop together helped by what your stylist has already spotted for you. Your stylist is there while you try things on, and you get an honest opinion.</li>
              </ol>
          </div>
        </div>

                <div class="3steps-container" style="margin-bottom:50px">
          <h2 style="font-size:34px;padding: 13px 0;" class="centertext rouge DIN">ABOUT</h2>
          <div class="list-container">
          <p style="font-size:17px">Super was started by two Frenchmen who share a passion for style and quality of life.<br>
<span class="bold underline"><a href="mailto:contactteamsuper@gmail.com" target="blank">Contact us here</a></span> for more details.</p>
</div>
        </div>




  </div>

</template>